<header class="main-header">
  <h1>Wishlist</h1>
</header>

<% if flash[:message].present? %>
  <p class="flash"><i class="fa fa-check-circle" aria-hidden="true"></i> <%= flash[:message] %></p>
<% end %>

<div class="container">
  <section class="dashboard-section">


      <% if @wishlist.present? %>
        <ul class="bookwrap">
          <% @wishlist.each do |favorite| %>

            <li>
              <div class="book-image">
                <%= image_tag favorite[:info].image_link %>
              </div>

              <div class="side">
                <p>ISBN: <%= favorite[:info].isbn %></p>
                <p><%= favorite[:info].title %></p>
                <p><%= favorite[:info].authors %></p>
              </div>
              <div class="book-footer">
                <%= button_to 'Cancel item', "/dashboard/wishlist/cancel?id=#{favorite[:id]}", method: :post %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="no-books">There are no books in the wishlist.</div>
      <% end %>

  </section>
</div>
