<header class="main-header">
  <h1>Student Dashboard</h1>
</header>

<% if flash[:message].present? %>
  <p class="flash"><i class="fa fa-check-circle" aria-hidden="true"></i><%= flash[:message] %></p>
<% end %>

<div class="container">
  <section class="dashboard-section">
    <h2>Borrowed Books</h2>
    <% borrowed_books = @current_user.get_borrowed_books %>
    <% if borrowed_books.length > 0 %>
      <table class="borrowed-head">
        <!-- ISSUES: What does the caption do? -->
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Book title</th>
            <th scope="col">Status</th>
            <th scope="col">Due date</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% borrowed_books.each do |r| %>
            <tr>
              <td data-label="Book title"><%= link_to r.book.title, r.book %></td>
              <td data-label="Status"><%= r.book.status %></td>

              <% if r.date_due && Date.today >= r.date_due %>
                <td data-label="Due date"><span class="overdue">Overdue<br><%= r.date_due %></span></td>
              <% else %>
                <td data-label="Due date"><%= r.date_due %></td>
              <% end %>

              <% if !r.date_borrowed %>
                <td data-label="Action"><%= button_to 'Delete', reservation_path(r), :method => 'delete', :data => { :confirm => "Are you sure?" } %></b></td>
              <% else %>
                <td data-label="Action"><b><%= button_to 'Delete', nil, :disabled => true %></b></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <div class="no-books">You are not borrowing any books at the moment</div>
    <% end %>
  </section>

  <hr>

  <section class="dashboard-section">
    <h2>Waitlist</h2>
    <% if @student_waitlist.present? %>
      <% @student_waitlist.each do |book| %>
        <div class="card-container">
          <%= link_to @books.where({isbn: book.isbn}).first do %>
            <%= image_tag @books.where({isbn: book.isbn}).first.img_url %>
          <% end %>

            <p><%= @books.where({isbn: book.isbn}).first.title %></p>
            <p>ISBN: <%= book.isbn %></p>
            <b><%= button_to 'Delete', pending_items_path(book), :method => 'delete', :data => { :confirm => "Are you sure?" } %></b>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="no-books">No books in the waitlist</div>
    <% end %>
  </section>

  <hr>

  <section class="dashboard-section">
    <h2>New book requests</h2>
    <% if @current_user.requests.present? %>
      <% @current_user.requests.each do |request| %>
        <% book = GoogleBooks.search(request.isbn).first %>
        <div class="card-container">
          <!-- Show ISBN if api request fails -->
          <p>Title: <%= (book && book.title)||request.isbn %></p>
          <%= button_to 'Cancel Request', "/dashboard/request/#{request.id}", method: :delete %>
        </div>
      <% end %>
    <% else %>
      <div class="no-books">You have not requested any new books</div>
    <% end %>
  </section>

  <hr>

  <section class="dashboard-section">
    <h2>Request a new book</h2>
    <%= form_tag dashboard_search_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search], placeholder: "E.g. tractatus logico philosophicus", required: true %>
      <%= submit_tag "Search" %>
    <% end %>
  </section>

  <% if params[:search] %>
  <script>
    <% @book_info.each do |b| %>
      $('.container').append('<div class="card-wrapper"><div class="card-top"><div class="card-image"><%= image_tag b[:picture] %></div><div class="card-left"><h2 class="title"><%= b[:info].title %></h2><h3><em><%= b[:info].authors %></em></h3><h3><%= b[:info].isbn_13 %></h3><div class="button"><%= button_to 'Request', "/dashboard/request?isbn=#{b[:info].isbn_13}", method: :post %></div></div></div><div class="description"><p><%= b[:info].description %></p></div></div>')
    <% end %>
  </script>
  <% end %>

</div>
