<header class="main-header">
  <h1>Student Dashboard</h1>
</header>

<% if flash[:message].present? %>
  <p class="flash"><%= flash[:message] %></p>
<% end %>

<div class="container">
  <section class="dashboard-section">

    <h2>Borrowed Books</h2>

    <% if @current_user.reservations.present? %>

      <table class="borrowed-head">
        <caption>Borrowed books</caption>
        <thead>
          <tr>
            <th scope="col">Book title</th>
            <th scope="col">Status</th>
            <th scope="col">Due date</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
      </table>

      <% @current_user.reservations.each do |r| %>

      <table class="borrowed-body">
        <tbody>
          <tr>

            <td data-label="Book title"><%= r.book.title %></td>
            <td data-label="Status"><%= r.book.status %></td>

            <% if r.date_due && Date.today >= r.date_due %>

              <td data-label="Due date"><span class="overdue">Overdue<br><%= r.date_due %></span> </td>
            <% else %>
              <td data-label="Due date"><%= r.date_due %></td>
            <% end %>
            <% if !r.date_borrowed %>
              <td data-label="Action"><%= button_to 'Delete', reservation_path(r), :method => 'delete', :data => { :confirm => "Are you sure?" } %></b></td>
            <% else %>
              <td data-label="Action"><b><%= button_to 'Delete', nil, :disabled => true %></b></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% end %>
      <% else %>

      <div class="no-books">You are not borrowing any books at the moment</div>
    <% end %>

  </section>

  <hr>

  <section class="dashboard-section">
    <h2>Waitlist</h2>
    <% if waitlist.present? %>
      <% waitlist.each do |book| %>
        <p>Book title: <%= books.where({isbn: book.isbn}).first.title %></p>
        <b><%= button_to 'Delete', pending_items_path(book), :method => 'delete', :data => { :confirm => "Are you sure?" } %></b>
      <% end %>
    <% else %>
      <div class="no-books">No books in the waitlist</div>
    <% end %>
  </section>

  <hr>

  <section class="dashboard-section">
    <h2>New book requests</h2>
    <% if @current_user.submitted_requests.present? %>
      <% @current_user.submitted_requests.each do |request| %>
        <p><%= request[1] %></p>
        <!-- potential security risk by entering a different id -->
        <%= button_to 'Cancel Request', "/dashboard/request/cancel?id=#{request[0]}", method: :post %>
      <% end %>
    <% else %>
      <div class="no-books">You have not requested any new books</div>
    <% end %>
  </section>

  <hr>

  <section class="dashboard-section">
    <h2>Request a new book</h2>
    <%= form_tag dashboard_search_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search], placeholder: "E.g. tractatus logico philosophicus", required: true %>
      <%= submit_tag "Search" %>
    <% end %>
  </section>

  <% if params[:search] %>
  <script>
    <% @book_info.each do |b| %>
      $('.container').append('<div class="card-wrapper"><div class="card-top"><div class="card-image"><%= image_tag b[:picture] %></div><div class="card-left"><h2 class="title"><%= b[:info].title %></h2><h3><em><%= b[:info].authors %></em></h3><h3><%= b[:info].isbn_13 %></h3><div class="button"><%= button_to 'Request', "/dashboard/request?isbn=#{b[:info].isbn_13}", method: :post %></div></div></div><div class="description"><p><%= b[:info].description %></p></div></div>')
    <% end %>
  </script>
  <% end %>

</div>
