<% if flash[:message].present? %>
  <p class="flash"><i class="fa fa-frown-o" aria-hidden="true"></i> </i> <%= flash[:message] %></p>
<% end %>

<table class="borrowed-head">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= button_to 'Delete User', user_path(user), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
