<h1>Pages#index</h1>
<h2>Borrowed Books</h2>
<% @borrowed_books.each do |book| %>
  <p>Book title: <%= book[0] %></p>
  <p>Due date: <%= book[1] %></p>
<% end %>

<h2>Requested Books</h2>
<% @requests.each do |request| %>
  <p><%= request %></p>
<% end %>

<h2>Request a book</h2>
<%= form_tag '#', :method => "get" do %>
  <%= text_field_tag :search, params[:search], placeholder: "E.g. tractatus logico philosophicus", required: true %>
  <%= submit_tag "Search" %>
<% end %>

<div>
</div>

<script>
$('form').on('submit', function() {
  if($('#search').val()) {
    $('div').append('<p><%= @book_info %></p><%= button_to 'Request', "/pages/create?id=#{@book_info.id}", method: :post %>')
    //$('div').html("<%= escape_javascript(render :partial => "show", :item => @book_info) %>");
  }
});

</script>
