<% if flash[:error].present? %>
  <p style="color: red"><%= flash[:error] %></p>
<% end %>

<%= form_tag books_path, :method => "post" do |f| %>
  <fieldset class="labels">
    <%= label_tag :isbn_13 %>
    <%= text_field_tag :isbn, params[:isbn], required: true %>
  </fieldset>

  <fieldset>
    <%= submit_tag 'Add' %>
  </fieldset>
<% end %>
