<h1>List of books</h1>

<ul>
  <% @books.group_by(&:isbn).each do |isbn, books| %>
    <li>
      <%= image_tag books.first.img_url %>
      <p><%= link_to books.first.title, books.first %></p>
      <p><%= books.first.author %></p>
      <p><%= books.first.date_published.strftime('%d %B %Y') %></p>
      <p>Copies: <%= books.count %>,  <%= available_books(books).count %> available</p>
      <%= render :partial => 'book_options', :locals => {:books => books} %>
    </li>
  <% end %>
</ul>
