<div class="card-wrapper">
  <div class="card-top">
    <div class="card-image"><%= image_tag @book.img_url %></div>
    <div class="card-left">
      <h2 class="title"><%= @book.title %></h2>
      <h3><em><%= @book.author %></em></h3>
      <div class="button">
        <%= render :partial => 'book_options', :locals => {:books => @books} %>
      </div>
    </div>


  </div>

  <div class="description">
    <p><%= @book.description %></p>
  </div>
</div>
