<footer class="footer-distributed">

	<div class="footer-left">

		<h3>GA Library</h3>

		<p class="footer-links">
      <%= link_to "Catalogue", root_path %>
      |
      <%= link_to "About", root_path %>
      |
      <%= link_to "Contact", root_path %>

		</p>

		<p class="footer-company-name">GA Library &copy; 2017</p>
	</div>

	<div class="footer-center">

    <div>
      <i class="fa fa-phone"></i>
      <p>+61 2 8318 2912</p>
    </div>

		<div>
			<i class="fa fa-map-marker"></i>
			<p><a href="https://www.google.com/maps/place/General+Assembly+Sydney/@-33.8698195,151.204229,17z/data=!3m1!4b1!4m5!3m4!1s0x6b12ae3f17411049:0x3b1ff23de94d1077!8m2!3d-33.869824!4d151.206423"</a> General Assembly Sydney</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:sydney@generalassembl.y">sydney[a t]generalassemb.ly</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the project</span>
			GA Library was a group project for WDI-19 by <%= link_to 'Daniel Ting', 'https://github.com/dting0104' %>, <%= link_to 'Daniele Peviani', 'https://www.linkedin.com/in/daniele-peviani/'  %> and <%= link_to 'Christle Lee', 'https://www.linkedin.com/in/christle-lee/' %>.
		</p>

		<div class="footer-icons">

			<a href="https://www.facebook.com/gnrlassembly"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/ga"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/company/2408664"><i class="fa fa-linkedin"></i></a>
			<a href="https://www.instagram.com/ga_sydney/"><i class="fa fa-instagram"></i></a>

		</div>

	</div>

</footer>
